:root {
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
}


#cardroot {
  background: #f3fafb;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#cardroot > .cardcontainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardroot > .cardcontainer > .card {
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 120vh;
  height: 75vh;
  will-change: transform;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 20px rgba(50, 50, 73, 0.4))
}

.carddebug {
  width: 50%;
  height: 100%;
  padding: 5%;
  position: absolute;
}

.cardimagetape {
  width: 50%;
  height: 100%;
  padding: 5% 5% 5% 8%;
  position: absolute;  
}

.cardimage {
  width: 50%;
  height: 100%;
  padding: 5% 5% 5% 8%;
  position: absolute;
}

.cardimage > div {
  position: relative;
}

.cardimage >  div > img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; 
  position: absolute;
  transform: translate(-50%, -50%) rotate(3deg);
  top: 50%;
  left: 50%;
  object-fit: contain;
  border-radius: 3px;
  border: 10px solid #dadada; 
  border-bottom: 25px solid #dadada; 
  -webkit-box-shadow: 0px 0px 10px #777; 
  -moz-box-shadow: 0px 0px 10px #777; 
  box-shadow: 0px 0px 10px #777;
  -webkit-transform: rotate (3deg);
  -moz-transform: rotate (3deg);
}




.tape-section {
  position: absolute;
  width: 100%;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.7;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}





.carddata {
  width: 50%;
  height: 100%;
  margin-left: 50%;
  padding: 5% 10% 5% 5%;
  position: absolute;
}

.cardstatus {
  width: 50%;
  height: 100%;
  padding: 5%;
  position: absolute;  
}

.cardstatus > div {
  width: 100%;
  padding-top: 100%;
}

.cardstatus > div > h3 {
  font-size: 2.5vh;
  text-align: center;
  font-weight: unset;
  margin: 0;
}

.cardstatus > div > p {
  font-size: 2vh;
  text-align: center;
  font-weight: unset;
}

.cardimage > div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;  
  width:100%;
  height: 75%;
}

.carddata > h1 {
  font-size: 4vh;
  text-align: center; 
  margin: 0;
}


.cardheadinghr {
  color: grey;
}

.cardheadingh2 {
  font-size: 2vh;
  color: grey;
  text-align: center; 
  margin-bottom: 0;
}

.carddata > p {
  font-size: 2.5vh;
}

.carddata > ul {
  font-size: 2.5vh;
}